In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
%matplotlib inline

In [12]:
df = pd.read_csv('../../lawdata/medical/NHIS_Data_2017_Fixed.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12568532 entries, 0 to 12568531
Data columns (total 12 columns):
 #   Column    Dtype
---  ------    -----
 0   가입자 일련번호  int64
 1   진료내역일련번호  int64
 2   성별코드      int64
 3   연령대코드     int64
 4   시도코드      int64
 5   요양개시일자    int64
 6   서식코드      int64
 7   진료과목코드    int64
 8   주상병코드     object
 9   부상병코드     object
 10  입내원일수     int64
 11  총처방일수     int64
dtypes: int64(10), object(2)
memory usage: 1.1+ GB

In [14]:
df.head()

,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,입내원일수,총처방일수
0,1,4661608,1,5,11,20170316,3,13,J060,R51,1,3
1,1,14468123,1,5,11,20170123,3,1,R51,K297,1,3
2,1,22980223,1,5,11,20170404,3,13,J0190,J060,1,3
3,1,23050697,1,5,11,20170407,3,13,J0190,J060,1,3
4,1,29517148,1,5,11,20170516,3,14,L309,L301,1,7

In [15]:
def ill(x):
    str = x[:3]
    de = re.findall(r'([A-Z])([_]?)(\d{2})?', str)
    for n, d, t in de:
        if t == '':
            t = 0
        if n == 'A' or n == 'B':
            return 'AB'
        elif n == 'C' or (n == 'D' and int(t) <= 48):
            return 'CD48'
        elif n == 'D':
            return 'D50'
        elif n == 'H':
            if int(t) < 60:
                return 'H59'
            elif int(t) >= 60:
                return 'H60'
        elif n == ('S' or 'T'):
            return 'ST'
        elif n == ('V' or 'Y'):
            return 'VY'
        elif n == (n.startswith('F')):
            return 'F'
        else:
            return n
        pass
    pass

In [16]:
df['질병코드'] = df['주상병코드'].apply(ill)

In [17]:
df.head()

,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,입내원일수,총처방일수,질병코드
0,1,4661608,1,5,11,20170316,3,13,J060,R51,1,3,J
1,1,14468123,1,5,11,20170123,3,1,R51,K297,1,3,R
2,1,22980223,1,5,11,20170404,3,13,J0190,J060,1,3,J
3,1,23050697,1,5,11,20170407,3,13,J0190,J060,1,3,J
4,1,29517148,1,5,11,20170516,3,14,L309,L301,1,7,L

In [18]:
df['질병코드'].unique()

array(['J', 'R', 'L', 'H60', 'AB', 'K', 'M', 'H59', 'ST', 'N', 'T', 'G',
       'I', 'CD48', 'F', 'E', 'O', 'Z', 'D50', 'Q', 'P', 'U'],
      dtype=object)

In [19]:
ill('B029')

'AB'

In [20]:
print(re.findall(r'([A-Z])([_]?)(\d{2})?', "B029"))

[('B', '', '02')]

In [21]:
print(len('F_'[0:3]))

2

In [30]:
df.to_csv('../../lawdata/medical/NHIS_Data_2017_Fix.csv', encoding = 'utf8', index = False)

In [ ]:
for i in [2016,2017,2018]:
    if i == 2016:
        df = pd.read_csv(f'../../lawdata/medical/NHIS_Data_{i}_Fixed.csv', encoding = 'cp949')
        pass
    
    else :
        df = pd.read_csv(f'../../lawdata/medical/NHIS_Data_{i}_Fixed.csv')
        pass
    
    df['질병코드'] = df['주상병코드'].apply(ill)
    
    df.to_csv(f'../../lawdata/medical/NHIS_Data_{i}_Fix.csv', encoding = 'utf8', index = False)
    
    pass

In [ ]:
def month_Fixed(vec):
    vec = vec[:6]
    return vec

In [ ]:
def month(x):
    return re.compile('(\d{4})(\d{2})(\d{2})').sub('\g<1>-\g<2>', str(x))

In [ ]:
df['요양개시일자']

In [ ]:
# df_ill_j2022.요양개시일자.astype('datetime64[ns]')
#df['요양개시일자(월별)']=df['요양개시일자'].apply(to_month())
# df['요양개시일자(월별)']=pd.to_string(df['요양개시일자'].apply(lambda x: x[:6]))
df['요양개시일자(월별)']=df['요양개시일자'].apply(month)

df_ill_j2022 = df[df['주상병코드'].str.contains('J01|J20|J21|J22', regex=True)]

In [ ]:
df_ill_j2022.head()

In [ ]:
df_ill_j2022.info()

In [ ]:
# Evolution of M Cases (2016)
df_ill_M = df[df['주상병코드'].str.contains('M', regex=True)]
df_count_month=df_ill_M.groupby('요양개시일자(월별)')['주상병코드'].count()


f, ax = plt.subplots(figsize = (20, 7))
sns.lineplot(x = df_count_month.index,
             y = '주상병코드',
              data = df_count_month.to_frame())
plt.grid(True)
plt.xlabel('Month', fontsize=12 )
plt.ylabel('Number of Cases', fontsize=12)
plt.title('Evolution of M Cases (2016)', fontsize=16)

In [ ]:
# Evolution of I Cases (2016)
df_ill_I = df[df['주상병코드'].str.contains('I', regex=True)]
df_count_month=df_ill_I.groupby('요양개시일자(월별)')['주상병코드'].count()


f, ax = plt.subplots(figsize = (20, 7))
sns.lineplot(x = df_count_month.index,
             y = '주상병코드',
              data = df_count_month.to_frame())
plt.grid(True)
plt.xlabel('Month', fontsize=12 )
plt.ylabel('Number of Cases', fontsize=12)
plt.title('Evolution of I Cases (2016)', fontsize=16)

In [ ]:
df_ill_full_J = df[df['주상병코드'].str.contains('J', regex=True)]
df_ill_full_J.to_csv('df_J_cases.csv', encoding = 'cp949')

In [ ]:
# Evolution of all J-Type Cases (2016)
df_ill_full_J = df[df['주상병코드'].str.contains('J', regex=True)]

df_count_month=df_ill_full_J.groupby('요양개시일자(월별)')['주상병코드'].count()


f, ax = plt.subplots(figsize = (20, 7))
sns.lineplot(x = df_count_month.index,
             y = '주상병코드',
              data = df_count_month.to_frame())
plt.grid(True)
plt.xlabel('Month', fontsize=12 )
plt.ylabel('Number of Cases', fontsize=12)
plt.title('Evolution of all J-Type Cases (2016)', fontsize=16)

In [ ]:



print('='*70)



f, ax = plt.subplots(figsize = (20, 7))
plt.grid()
sns.countplot(x = '요양개시일자',
              data = df_ill_j2022)
plt.show()

print('='*70)

df_count=df_ill_j2022.groupby('요양개시일자').count()

f, ax = plt.subplots(figsize = (20, 7))
plt.grid()
sns.lineplot(x = df_count.index,
             y = '가입자일련번호',
              data = df_count)

In [ ]:

cities = ['Seoul', 'Busan', 'Daegu', 'Incheon', 'Gwangju', 'Daejeon', 'Ulsan', 'Sejong', 'Gyeongi-do', 'Gangwon-do', 'Chungcheongbuk-do',
           'Chungcheongnam-do', 'Jeollabuk-do', 'Jeollanam-do', 'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Jeju-do']

plt.subplots(figsize=(20, 7))
plt.grid(zorder = 1)
sns.countplot(x = '시도코드', orient = 'v', data = df_ill_full_J, zorder = 2, order = df_ill_full_J['시도코드'].value_counts().index )
plt.xticks(np.arange(17), cities, rotation = 45)
plt.xlabel('City Code', fontsize=12 )
plt.ylabel('Number of Cases', fontsize=12)
plt.title('Number of All J - Type Cases By City(2016)', fontsize=16)
plt.show()
plt.savefig('test')
#type(group_ill_j2022_frame.plot.bar())

In [ ]:
df['질병코드'] = df['주상병코드'].apply(ill)

In [ ]:
df.head()

In [ ]:

plt.subplots(figsize=(20, 7))
plt.grid(zorder = 1)
sns.countplot(x = '질병코드', data = df, dodge=False, zorder=2, order = df['질병코드'].value_counts().index)
plt.xlabel('Illness Classification', fontsize = 12)
plt.ylabel('Number of Cases', fontsize = 12)
plt.title('Number of Cases by Illness Classification (2016)', fontsize = 16)
plt.show()
#type(group_ill_j2022_frame.plot.bar())

In [ ]:
pie_count = df.groupby('질병코드')['가입자일련번호'].count()
print(pie_count)

# values = [210963,263485,231709,17225,530582,311089,193516,708997,364442,947636,3575262,747406,627772,2065364, 598544,24520,7458,12763, 253916, 674606, 76668,358,96066]
# labels = ['AB', 'B', 'CD48', 'D50', 'E', 'F', 'G', 'H59', 'H60', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'ST', 'T', 'U', 'Z' ]

plt.subplots(figsize=(20, 7))
plt.pie(x = values, labels= labels)
plt.title('Pie Graph by Illness Classification (2016)', fontsize = 16)
plt.show()
#type(group_ill_j2022_frame.plot.bar())

In [ ]:
# Evolution of FCases (2016)
df_ill_F = df[df['주상병코드'].str.contains('F', regex=True)]
df_count_month=df_ill_F.groupby('요양개시일자(월별)')['주상병코드'].count()


f, ax = plt.subplots(figsize = (20, 7))
sns.lineplot(x = df_count_month.index,
             y = '주상병코드',
              data = df_count_month.to_frame())
plt.grid(True)
plt.xlabel('Month', fontsize=12 )
plt.ylabel('Number of Cases', fontsize=12)
plt.title('Evolution of I Cases (2016)', fontsize=16)